# Assignment no:1
# String Functions

In [97]:
str1 = 'I am a python developer'#  capitalize firt letter of a string
str1.capitalize()

'I am a python developer'

In [6]:
str1.title() # capitalize every first letter

'I Am A Python Developer'

In [7]:
str1.isupper()# check whether every letter is upper or not?

False

In [8]:
str1.islower()# check whether every letter is lower or not?

False

In [9]:
str1.lower()# convert into lower case

'i am a python developer'

In [10]:
str1.upper()#convert into upper

'I AM A PYTHON DEVELOPER'

In [13]:
len(str1)# this function count overall length

23

In [14]:
str1.count('o')# count occurance of any specific letter

2

In [17]:
str1="".join(reversed(str1))# reversed() function
print(str1)

repoleved nohtyp a ma I

In [18]:
str1.split()

['repoleved', 'nohtyp', 'a', 'ma', 'I']

In [5]:
str1="".join(reversed(str1))
print(str1)

I am a python developer

In [6]:
str1.swapcase()

'i AM A PYTHON DEVELOPER'

In [15]:
str1.center(27,'*')

'**I am a python developer**'

# List Functions

In [21]:
lst = [10,'python',20,30,2.56,'hi']# to count length len(list name)
(len(lst))

6

In [22]:
lst.count(4)# tocount specific occurences

0

In [25]:
lst.index(20)#  this function specify index value of specific element

2

In [26]:
lst.append('payal')# to add elements at the end of the list

In [27]:
print(lst)

[10, 'python', 20, 30, 2.56, 'hi', 'payal']

In [28]:
lst.extend([80,67,'lkj'])
print(lst)

[10, 'python', 20, 30, 2.56, 'hi', 'payal', 80, 67, 'lkj']

In [31]:
lst.insert(4,[67,78])
print(lst)

[10, 'python', 20, 30, [67, 78], 2.56, 'hi', 'payal', 80, 67, 'lkj']

In [32]:
lst.pop(2)# remove 2nd index number valuelst

20

In [34]:
lst.remove(30)# remove mention element
print(lst)

[10, 'python', [67, 78], 2.56, 'hi', 'payal', 80, 67, 'lkj']

In [35]:
lst.reverse()
print(lst)

['lkj', 67, 80, 'payal', 'hi', 2.56, [67, 78], 'python', 10]

# Tuple Functions

In [53]:
tup=(1,2,5,6,8,0)# all() function return false if tuple contain (o or false)
print(all(tup))

False

In [51]:
print(any(tup)) #any() function returns true if any one element is true in the tuple.

True

In [54]:
min(tup)

0

In [55]:
max(tup)

8

In [56]:
tup.index(5)#this function return index number ofperticular value mentioned.

2

In [57]:
sum(tup)

22

In [59]:
tup=list(tup)
print(tup)

[1, 2, 5, 6, 8, 0]

In [62]:
tup=tuple(tup)
print(tup)

(1, 2, 5, 6, 8, 0)

# Set Functions

In [72]:
se={50,88,67,89,99,66,56,55,99}
print(se)

{66, 67, 99, 50, 55, 88, 89, 56}

In [74]:
se.add(8)
print(se)

{66, 67, 99, 8, 50, 87, 55, 88, 89, 56}

In [76]:
se.discard(8)
print(se)

{66, 67, 99, 50, 87, 55, 88, 89, 56}

In [78]:
se1={7,5,5,6,6,8,6,4,3,4}
print(se1)

{3, 4, 5, 6, 7, 8}

In [79]:
se.isdisjoint(se1)# this function returns True if both are empty sets or if both sets contains non-matching elements.

True

In [80]:
se.issubset(se1)

False

In [82]:
se.issubset(se1)

False

# Dictionary Functions

In [90]:
dict={}
dict['name']='payal'
dict['age']=23
dict['a']=1
dict['z']=100
print(dict)

{'name': 'payal', 'age': 23, 'a': 1, 'z': 100}

In [92]:
dict.keys()

dict_keys(['name', 'age', 'a', 'z'])

In [93]:
dict.values()

dict_values(['payal', 23, 1, 100])

In [94]:
dict.get('name')#this function is used to get the value of specified key.

'payal'

In [95]:
tup=(1,2,3,4,5) #we can use tuple elements as keys in the dict and the elements must be unique
dict.fromkeys(tup)

{1: None, 2: None, 3: None, 4: None, 5: None}

In [96]:
dict.items()#Items(): this function is used to get all items. All key and value pairs will be displayed in tuple format.

dict_items([('name', 'payal'), ('age', 23), ('a', 1), ('z', 100)])